:root{
    --light-violet: #F0F1F6;
    --white: #FFFFFF;
    --cyan: #2acfcf;
    --dark-violet: #3b3054;
    --red: #f46262;
    --gray: #bfbfbf;
    --grayish-violet: #9e9aa7;
    --very-dark-blue: #35323e;
    --very-dark-violet: #232127;
}

@media screen and (max-width: 1439px){
    p{
        font-size: 18px;
    }
    #home{
        height: 60vh;
    }
    h1{
        font-size: 60px;
    }
    .img-home img{
        transform: translateX(0);
    }
    .short-link{
        padding: 52px 24px;
    }
}
@media screen and (max-width: 1199px){
    body{
        font-size: 16px;
    }
    .btn-started,
    .short-link input,
    .btn-link{
        font-size: 16px;
    }
}
@media screen and (max-width: 900px){
    body{
        font-size: 18px;
    }
    header{
        justify-content: space-between;
    }
    #btn-mobile{
        display: block;
    }
    .btn-mobile{
        background-color: unset;
        width: fit-content;
        padding: 0;
        position: relative;
        transition: all .3s ease-in-out;
    }
    .contenido-nav{
        position: absolute;
        background-color: var(--dark-violet);
        flex-direction: column;
        justify-content: center;
        width: 327px;
        padding: 0 24px;
        z-index: 5;
        border-radius: 10px;
    }
    .contenido-nav ul{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: center;
    }
    .contenido-nav ul:nth-child(1){
        padding: 46px 0 37px;
        height: 128px;
    }
    .contenido-nav ul:nth-child(2){
        padding: 36px 0 40px;
        height: 95px;
    }
    .contenido-nav ul li{
        margin-left: 0;
        width: 100%;
    }
    .contenido-nav ul:first-child li:first-child{
        margin-left: 0;
    }
    .btn-sign-up{
        width: 100%;
        padding: 12px 0;
    }
    #home{
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        padding: 0 30px;
    }
    .info-home{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    h1{
        font-size: 40px;
    }
    .info-home p{
        max-width: unset;
    }
    .img-home{
        width: 100%;
    }
}